@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap');

:root {
    --black: #1F1F1F;
    --white: #EEEEEE;
}

#card {
    border: 3px solid #202020;
    margin: 30px;
}

#firstBack {
    opacity: 0;
}

.chosen {

}

.chosen-img {
    height: 50px;
}

h1 {
    font-size: 44px;
}

h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    margin: 0;
    line-height: 1;
}

h3 {
    text-transform: uppercase;
    font-size: 24px;
    padding: 0 0 25px 0;
}

h4 {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black);
    font-family: 'IBM Plex Mono', monospace;
    font-weight: normal;
    color: var(--black);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 30px;
}

li {
    margin: 0 30px 0 0;
}

.landing-container {
    background-color: var(--black);
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.icon-info {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 60px;
    right: 60px;
    transform: rotate(0deg);
    transform-origin: center;
    transition: 300ms;
}

.icon-info:hover {
    transform: rotate(15deg);
    transition: 300ms;
}

#circle {
    position: absolute;
    height: 500px;
    width: 500px;
    padding: 50px;
    background-color: var(--white);
    border-radius: 50%;
    border: none;
    display: flex;
}

.landing-content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.landing-title {
    height: 49px;
    font-weight: normal;
    font-family: "IBM Plex Sans JP", sans-serif;
    cursor: default;
    letter-spacing: -2px;
    line-height: 50px;
}

.icon-start {
    display: flex;
    position: relative;
    height: 50px;
    width: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.icon-start:hover {
    animation: move 700ms infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(0);
    }
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--white);
    overflow-y: hidden;
    transition: height 0.5s ease-in-out; /* Add transition */
}
.overlay a .icon-cancel {
    position: absolute;
    font-size: 60px;
    top: 60px;
    right: 60px;
    stroke: var(--black);
    fill: var(--black);
}

.about-container {
    position: relative;
    text-align: center;
    top: 20%;
    padding: 0 60px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.websites {
    font-style: italic;
}

.icon-cancel {
    transition: 200ms;
}

.icon-cancel:hover {
    transition: 200ms;
    animation: rotate 400ms linear 1;
    cursor: pointer;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-20deg);
    }
    75% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#choose {
    color: var(--white);
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 25px;
}

.choose-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #202020;
    margin: auto;
}

.choices-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.choices-description {
    margin-top: 50px;
}

.choice-card {
    align-self: center;
    display: grid;
    grid-template-rows: 2fr 1fr;
    position: relative;
    align-items: center;
    justify-content: space-around;
    height: 337px;
    width: 270px;
    border-radius: 50px;
    background-color: var(--white);
    transform: rotate(0deg);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}

.choice-card:hover {
    transform: rotate(-5deg);
    transform-origin: center;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.choice-animation {
    height: auto;
    cursor: pointer;
}

.choice-name {
    color:  var(--black);
    text-align: center;
}

.chosen-img-container {
    display: flex;
    padding: 30px 0 30px 0;
    border: 1px solid var(--white);
    border-radius: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px
}

.result-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding: 25px;
    margin: auto;
}

.icon-cancel {
    height: 50px;
    width: 50px;
}

.icon-back {
    height: 50px;
    width: 50px;
    color: var(--white);
    stroke: var(--white);
    fill: var(--white);
}

.result-card {
    background: var(--white);
    position: absolute;
    width: 379px;
    height: 517px;
    padding: 50px;
    border-radius: 50px;
    transform: rotate(0deg);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}

.result-card:hover {
    transform: rotate(-5deg);
    transform-origin: center;
}

.result-text {
    border-top: 2px solid var(--black);
    padding: 30px 0 30px 0;
    margin: 20px 0;
}

.result-img {
    display: flex;
    position: relative;
    width: 220px;
    margin: 30px;
    align-self: center;
}

@media only screen and (max-width: 700px) {
    #circle {
        height: 400px;
        width: 400px;
    }
    .result-img {
        width: 180px;
    }
    .options {
        height: 53vh;
    }
}

